# Node.js dependencies
node_modules/
/.pnp
.pnp.js
# Bun (alternativa a npm/yarn/pnpm)
.bun/

# Package manager files
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
npm-debug.log*
lerna-debug.log*

# Build outputs (Frontend y Backend)
frontend/build/
frontend/dist/
backend/build/
backend/dist/

# Cache y archivos temporales
.npm/
.eslintcache
.prettiercache
.vite/
coverage/
.cache/

# Archivos de entorno
.env
.env.*.local
.env.development.local
.env.test.local
.env.production.local



# Docker y bases de datos
.docker/
docker-compose.override.yml
/mysql/data/

# Logs
logs/
*.log
*.log.*

# Editor/IDE directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.DS_Store
Thumbs.db

# Sistema de control de versiones para husky
.husky/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Test outputs
.vitest/
.vitest-report/
jest-html-reporters-*.html
/coverage

# Salida de `npm pack`
*.tgz

# Archivos SSL locales
*.pem

# Netlify
.netlify/
netlify.toml

# Otros
.deno/
*.sqlite
*.sqlite3
*.pid
.idea/

# Production
/frontend/build/
/frontend/dist/
/backend/dist/
/backend/build/

# Local Netlify folder
.netlify


/backend/uploads/